<ab-title>
    <span class="title">{props.text}</span>
    <style>
        .title {
            font-size: 2.5rem;
            color: black;
            padding-left: 0.5rem;
            overflow-x: hidden;
        }
    </style>
</ab-title>