<action-toolbar>
    <div class="action-toolbar">
        <slot/>
    </div>
    <style>
        .action-toolbar {
            height: 2rem;
            display: inline-flex;
            flex-direction: row;
            background: aliceblue;
            width: 100%;
            justify-content: space-evenly;
        }
    </style>
</action-toolbar>